* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.landing {
    background-size: cover;
}

body {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    padding-left: 10rem; 
    font-size: 1.2rem;
}
#logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 2rem;
}

.big-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6a11ce;
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(137, 139, 139);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(202, 197, 198);
    font-family: fantasy;
    font-size: 2rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.burger div{
    width: 10px;
    height: 10px;
    background-color: darkgray;
    margin: 1px;
    border-radius: 50%;
    align-items: center;
    justify-content: space-evenly;
    display: inline-block;
}

.burger {
    color: rgb(9, 255, 30);
}